---
import SocialLink from "./SocialLink.astro"
const { link } = Astro.props
---
<SocialLink target={link}>
    <svg fill="currentColor" width="32" height="32" viewBox="0 0 24 24" class="text-profileTitleText"><title>Telegram</title><path d="M23.0039 12.0046C23.0039 18.0797 18.079 23.0046 12.0039 23.0046C5.92877 23.0046 1.00391 18.0797 1.00391 12.0046C1.00391 5.92945 5.92877 1.00458 12.0039 1.00458C18.079 1.00458 23.0039 5.92945 23.0039 12.0046ZM12.3886 9.11945C11.317 9.56824 9.18291 10.4933 5.97725 11.8855C5.46434 12.0961 5.18957 12.2976 5.16209 12.4991C5.12153 12.8399 5.548 12.9722 6.12331 13.1507C6.19754 13.1738 6.27426 13.1976 6.35277 13.2227C6.92063 13.4059 7.67167 13.6165 8.06551 13.6257C8.42271 13.6349 8.81655 13.4883 9.25618 13.1861C12.2512 11.1619 13.7899 10.1361 13.8907 10.1178C13.9639 10.0995 14.0555 10.0812 14.1196 10.1361C14.1837 10.1911 14.1837 10.301 14.1746 10.3284C14.1309 10.5105 12.3441 12.1693 11.531 12.9241C11.3216 13.1186 11.1767 13.253 11.1429 13.2868C11.057 13.3752 10.9696 13.459 10.8855 13.5395C10.3597 14.0427 9.96521 14.4203 10.9048 15.0362C11.332 15.3182 11.6765 15.5532 12.0158 15.7847C12.4258 16.0645 12.8282 16.339 13.3594 16.6848C13.4846 16.767 13.6044 16.8523 13.7213 16.9354C14.1776 17.26 14.5893 17.5529 15.0996 17.5091C15.3927 17.4817 15.695 17.2069 15.8507 16.3826C16.217 14.4409 16.9315 10.2185 17.0963 8.47832C17.1146 8.33178 17.0963 8.13944 17.078 8.04785C17.0597 7.95626 17.0322 7.83719 16.9223 7.7456C16.7849 7.63569 16.5834 7.61737 16.4918 7.61737C16.0797 7.62653 15.4385 7.84635 12.3886 9.11945Z"></path></svg>
</SocialLink>
