---
import BaseLayout from "../layouts/BaseLayout.astro"
import SocialLinks from "../components/SocialLinks.astro"
import "../styles/global.css"

const pageTitle = "Mirrorball | A Dirty Power Trio | Grunge / Rock band from Milano, Italy"
const pageDescription = "Mirrorball is a grunge/alternative rock band from Milano, Italy. Check out our latest album 'Two Minutes More' and follow us on social media."
---
<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
    <div class="container">

        <section class="heading">
            <h1>Mirrorball</h1>
            <h2>A Dirty Power Trio</h2>
            <h3>Grunge / Alternative Rock band from Milano, Italy</h3>
        </section>

        <SocialLinks />

        <ul class="links">
            <li><a target="_blank" href="https://www.youtube.com/watch?v=XD8bIgp7zoM&t=2316s">Interview + live @ Rocker TV:"FATTI SCOPRIRE!"</a></li>
            <li><a target="_blank" href="https://specchiopalla.bandcamp.com/album/two-minutes-more">Our new album: TWO MINUTES MORE</a></li>
            <li><a target="_blank" href="https://specchiopalla.bandcamp.com/">Follow us on Bandcamp.com</a></li>
            <li><a target="_blank" href="https://www.rockit.it/recensione/61921/mirrorball-two-minutes-more">Review of "Two Minutes More" on RockIT.it</a></li>
            <li><a target="_blank" href="https://docs.google.com/document/d/1nztD3kf0xEK82e7aqlO9RMlq3yYSB_Sazaz56yrjlzw/edit?usp=share_link">TWO MINUTES MORE - Press release</a></li>
            <li><a target="_blank" href="https://www.rockit.it/mirrorball">Mirrorball on RockIT.it</a></li>
            <li><a target="_blank" href="https://drive.google.com/drive/folders/10hpDxg6-IBsC09U7q0qQbRtUUVbhbMke?usp=share_link">Check out the PRESS KIT</a></li>
        </ul>

    </div>
</BaseLayout>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 2rem;
    }

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    ul.links {
        width: 100%;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    ul.links li {
        width: 100%;
    }

    .links a {
        display: block;
        text-decoration: none;
        color: #000;
        border-radius: 32px;
        border: 2px solid #000;
        padding: 20px;
        text-align: center;
        transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    }

    .links a:hover {
        background-color: #000;
        color: #ffb400;
    }
</style>
