---
import Email from "./SocialLinks/Email.astro";
import Instagram from "./SocialLinks/Instagram.astro"
import Telegram from "./SocialLinks/Telegram.astro"
import Twitch from "./SocialLinks/Twitch.astro"
import Soundcloud from "./SocialLinks/Soundcloud.astro"
import Tidal from "./SocialLinks/Tidal.astro"
---
<div class="icons">
    <Email emailAddress="mirrorball.band@proton.me" />
    <Telegram link="https://t.me/joinchat/KVUXuhNBW5HNNfIxVohjDQ" />
    <Instagram handle="specchiopalla" />
    <Twitch handle="specchiopalla" />
    <Tidal link="https://tidal.com/browse/artist/36117151" />
    <Soundcloud handle="specchiopalla" />
</div>
